  <title>Oxford Intranet</title>
  <meta lang="es">
  <meta charset="utf-8">
  <meta name="author" content="Felipe, Xavi, Germán">
  <meta name="description" content="Proyecto2_intranet">
  <link rel="icon" type="image/png" href="img/icon.png">
  <link rel="stylesheet" type="text/css" href="css/estilo.css" media="screen">
  <script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
  <script type="text/javascript" src="js/funciones.js"></script>
  <script type="text/javascript">
  //efecto Metro
    efectoMetro();
  //maximizar navegador
    maximizar();
  </script>
